@model TicketViewModel

<h3 class="mt-4 mb-4">Create Ticket</h3>

<form asp-action="CreateTicket">
    <!-- we hide the Model StudentId as its not user editable but needs to be in the form  -->
    <!-- to ensure the Ticket passed to the controller is complete. We also only collect   -->  
    <!-- Issue as CreatedOn and Active can be set in contoller before passing to service   -->  
    <input type="hidden" asp-for="StudentId" class="form-control"/>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   
    <div class="form-group">
        <label asp-for="Issue" class="control-label"></label>      
        <textarea rows="5" asp-for="Issue" class="form-control"></textarea>
        <span asp-validation-for="Issue" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Details" asp-route-id=@Model.StudentId>Cancel</a>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}