

<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">SMS - Student Management System</p>
    <hr class="my-4">
    <p>@ViewBag.Message</p>
    <p>The current date/time is @ViewBag.Date</p>
    <a class="btn btn-primary btn-lg" asp-action="about" role="button">Learn more</a>
</div>



